{{outlet}}
<li class="list-group-item">
  <span class="shopName">{{shop.name}}</span>

<button class="editsumbit" {{action 'editShop'}}>Edit</button>
<button class="delsumbit"  {{action 'delShop'}}>Delete</button>
  <!--<div id = "editShop">-->
    <!--<form>-->
      <!--<input id="name" type="text" value="{{shop.name}}">-->
      <!--<button {{action 'changeShopName'}}>Save</button>-->
    <!--</form>-->
  <!--</div>-->
</li>
