{{outlet}}
<h1>{{model.name}}</h1>
<div class="container prod-cont">
  <ul class="list-group">
    <li class="list-group-item prod-header">
      <span class="productName"><b>Name</b></span>
      <span class="qty"><b>QTY</b></span>
      <span class="price"><b>Price</b></span>
      <hr>
    </li>
    <hr>
  {{#each model.products as |product|}}
    {{products-name product=product class="list-group-item"
                   edit=(action 'editProd') delete=(action 'delProd')}}
    <hr>
      {{/each}}
  <li class="list-group-item">
    <span class="productName"></span>
    <span class="qty"></span>
    <span class="price">
        <span class="total-price">Total Price</span>
      <br/>
        <b>${{totalPrice}}</b>
      </span>
  </li>
  </ul>


</div>
<form class="editor"  id='prodEditor' >
  {{input type="text"  placeholder="Enter Product Name" id="productName" value = name}}
  {{input type="number" placeholder="Enter Product QTY" id="productQty" value = qty}}
  {{input type="number" placeholder="Enter Product Price" id="productPrice" value = price}}
  <button {{action 'saveProd'}} >Save</button>

</form>
  <form id="prodChange">
  {{input type="text"  placeholder="Enter Product Name" id="editName" value =product.name}}
  {{input type="number" placeholder="Enter Product QTY" id="editQty" value = product.qty}}
  {{input type="number" placeholder="Enter Product Price" id="editPrice" value = product.price}}
  <button  {{action 'changeProd'}} >Change</button>
  <button class="cancelBtn" {{action 'cancelProd'}} >cancel</button>
  </form>
<button class="addBtnProd" {{action 'addProd'}}>Add Product</button>