<h1>asd</h1>
{{outlet}}
<h1>Products</h1>
<div class="container prod-cont">
  <ul class="list-group">
    <li class="list-group-item prod-header">
      <span class="productName">Name</span>
      <span class="qty">QTY</span>
      <span class="price">Price</span>
      <hr>
    </li>
    <hr>

  {{#each model.products as |product|}}
    {{products-name product=product class="list-group-item"
                   edit=(action 'editProd') delete=(action 'delShop')}}
    <hr>
      {{/each}}

  <li class="list-group-item">
    <span class="productName"></span>
    <span class="qty"></span>
    <span class="price">
        <span class="total-price">total Price</span>
        <b>${{model.totalPrice}}</b>
      </span>
  </li>
  </ul>


</div>
<button class="addBtn" onclick={{action 'editor'}}>Add Product</button>
<form class="editor" onsubmit={{action 'addProduct'}} id='prodEditor'>
  <input type="text" placeholder="Enter Product Name" id="productName">
  <input type="number" placeholder="Enter Product QTY" id="productQty">
  <input type="number" placeholder="Enter Product Price" id="productPrice">
  <button class="deleteBtn">Submit</button>
</form>