<h1>Shops</h1>
{{outlet}}
<div class="container">
  <ul class="list-group">
     {{#each model as |shops|}}
         {{shops-name shop = shops edit=(action 'editShop')}}
       <hr>
     {{/each}}

  </ul>
</div>
<form id="editForm">
<input type="text" class="editor" placeholder="Enter Shop Name" id="editShop" value = changeName>
<button {{action 'changeShopName'}}>Save</button>
<button class="cancelBtn" {{action 'cancel'}}>Cancel</button>
</form>


  <button class="addBtn"{{action 'addShop'}}>Add Shops</button>
    <div id="add">
      <label>
        {{input type = 'text' value = shopName}}
  <button {{action 'saveShop'}}>Save</button>
    </label>
  </div>
